In [1]:
import pandas as pd
import numpy as np

In [5]:
df_path = "Incidencia_municipal_2011_-_2017_clean"
df = pd.read_csv(df_path)
df.head()

,AÑO,INEGI,ENTIDAD,MUNICIPIO,MODALIDAD,TIPO,SUBTIPO,ENERO,FEBRERO,MARZO,...,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE,CVE_MUN,CVE_ENT,CVE_MOD,CVE_TIPO,CVE_SUBTIPO,TOTAL_DELITOS
0,2011,1001,AGUASCALIENTES,AGUASCALIENTES,DELITOS PATRIMONIALES,ABUSO DE CONFIANZA,ABUSO DE CONFIANZA,45,43,34,...,37,35,32,28,1,1,0,0,0,385
1,2011,1001,AGUASCALIENTES,AGUASCALIENTES,DELITOS PATRIMONIALES,DAÑO EN PROPIEDAD AJENA,DAÑO EN PROPIEDAD AJENA,164,177,160,...,171,144,134,173,1,1,0,1,1,1748
2,2011,1001,AGUASCALIENTES,AGUASCALIENTES,DELITOS PATRIMONIALES,EXTORSION,EXTORSION,10,24,9,...,7,6,4,5,1,1,0,2,2,89
3,2011,1001,AGUASCALIENTES,AGUASCALIENTES,DELITOS PATRIMONIALES,FRAUDE,FRAUDE,54,29,37,...,27,20,38,32,1,1,0,3,3,390
4,2011,1001,AGUASCALIENTES,AGUASCALIENTES,DELITOS PATRIMONIALES,DESPOJO,CON VIOLENCIA,0,0,0,...,0,0,0,0,1,1,0,4,4,0

In [6]:
df_copy = df.copy()
df_copy.head()

,AÑO,INEGI,ENTIDAD,MUNICIPIO,MODALIDAD,TIPO,SUBTIPO,ENERO,FEBRERO,MARZO,...,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE,CVE_MUN,CVE_ENT,CVE_MOD,CVE_TIPO,CVE_SUBTIPO,TOTAL_DELITOS
0,2011,1001,AGUASCALIENTES,AGUASCALIENTES,DELITOS PATRIMONIALES,ABUSO DE CONFIANZA,ABUSO DE CONFIANZA,45,43,34,...,37,35,32,28,1,1,0,0,0,385
1,2011,1001,AGUASCALIENTES,AGUASCALIENTES,DELITOS PATRIMONIALES,DAÑO EN PROPIEDAD AJENA,DAÑO EN PROPIEDAD AJENA,164,177,160,...,171,144,134,173,1,1,0,1,1,1748
2,2011,1001,AGUASCALIENTES,AGUASCALIENTES,DELITOS PATRIMONIALES,EXTORSION,EXTORSION,10,24,9,...,7,6,4,5,1,1,0,2,2,89
3,2011,1001,AGUASCALIENTES,AGUASCALIENTES,DELITOS PATRIMONIALES,FRAUDE,FRAUDE,54,29,37,...,27,20,38,32,1,1,0,3,3,390
4,2011,1001,AGUASCALIENTES,AGUASCALIENTES,DELITOS PATRIMONIALES,DESPOJO,CON VIOLENCIA,0,0,0,...,0,0,0,0,1,1,0,4,4,0

In [8]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 851796 entries, 0 to 851795
Data columns (total 25 columns):
AÑO              851796 non-null int64
INEGI            851796 non-null int64
ENTIDAD          851796 non-null object
MUNICIPIO        851796 non-null object
MODALIDAD        851796 non-null object
TIPO             851796 non-null object
SUBTIPO          851796 non-null object
ENERO            851796 non-null int64
FEBRERO          851796 non-null int64
MARZO            851796 non-null int64
ABRIL            851796 non-null int64
MAYO             851796 non-null int64
JUNIO            851796 non-null int64
JULIO            851796 non-null int64
AGOSTO           851796 non-null int64
SEPTIEMBRE       851796 non-null int64
OCTUBRE          851796 non-null int64
NOVIEMBRE        851796 non-null int64
DICIEMBRE        851796 non-null int64
CVE_MUN          851796 non-null int64
CVE_ENT          851796 non-null int64
CVE_MOD          851796 non-null int64
CVE_TIPO         851796 non-null int64
CVE_SUBTIPO      851796 non-null int64
TOTAL_DELITOS    851796 non-null int64
dtypes: int64(20), object(5)
memory usage: 162.5+ MB

In [9]:
df_copy.isnull().any().any()

False

In [7]:
df_copy.columns

Index(['AÑO', 'INEGI', 'ENTIDAD', 'MUNICIPIO', 'MODALIDAD', 'TIPO', 'SUBTIPO',
       'ENERO', 'FEBRERO', 'MARZO', 'ABRIL', 'MAYO', 'JUNIO', 'JULIO',
       'AGOSTO', 'SEPTIEMBRE', 'OCTUBRE', 'NOVIEMBRE', 'DICIEMBRE', 'CVE_MUN',
       'CVE_ENT', 'CVE_MOD', 'CVE_TIPO', 'CVE_SUBTIPO', 'TOTAL_DELITOS'],
      dtype='object')

In [13]:
list_numeric_columns = ['CVE_ENT', 'CVE_MUN', 'CVE_MOD', 'CVE_TIPO', 'CVE_SUBTIPO', 'ENERO', 
                        'FEBRERO', 'MARZO', 'ABRIL', 'MAYO', 'JUNIO', 'JULIO', 'AGOSTO', 'SEPTIEMBRE', 
                        'OCTUBRE', 'NOVIEMBRE', 'DICIEMBRE', 'TOTAL_DELITOS']

df_copy[list_numeric_columns].head()

,CVE_ENT,CVE_MUN,CVE_MOD,CVE_TIPO,CVE_SUBTIPO,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE,TOTAL_DELITOS
0,1,1,0,0,0,45,43,34,22,36,43,37,38,37,35,32,28,385
1,1,1,0,1,1,164,177,160,179,167,149,150,144,171,144,134,173,1748
2,1,1,0,2,2,10,24,9,7,8,9,9,1,7,6,4,5,89
3,1,1,0,3,3,54,29,37,37,53,37,44,36,27,20,38,32,390
4,1,1,0,4,4,0,0,0,0,0,0,0,0,0,0,0,0,0

In [16]:
print('Shape 2011: ', df_copy[list_numeric_columns][(df_copy.AÑO == 2011)].shape)
print('Shape 2012: ', df_copy[list_numeric_columns][(df_copy.AÑO == 2011)].shape)
print('Shape 2013: ', df_copy[list_numeric_columns][(df_copy.AÑO == 2011)].shape)
print('Shape 2014: ', df_copy[list_numeric_columns][(df_copy.AÑO == 2011)].shape)
print('Shape 2015: ', df_copy[list_numeric_columns][(df_copy.AÑO == 2011)].shape)
print('Shape 2016: ', df_copy[list_numeric_columns][(df_copy.AÑO == 2011)].shape)
print('Shape 2017: ', df_copy[list_numeric_columns][(df_copy.AÑO == 2011)].shape)

Shape 2011:  (91080, 18)
Shape 2012:  (91080, 18)
Shape 2013:  (91080, 18)
Shape 2014:  (91080, 18)
Shape 2015:  (91080, 18)
Shape 2016:  (91080, 18)
Shape 2017:  (91080, 18)

In [17]:
df_copy[list_numeric_columns][(df_copy.AÑO == 2011)].head()

,CVE_ENT,CVE_MUN,CVE_MOD,CVE_TIPO,CVE_SUBTIPO,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE,TOTAL_DELITOS
0,1,1,0,0,0,45,43,34,22,36,43,37,38,37,35,32,28,385
1,1,1,0,1,1,164,177,160,179,167,149,150,144,171,144,134,173,1748
2,1,1,0,2,2,10,24,9,7,8,9,9,1,7,6,4,5,89
3,1,1,0,3,3,54,29,37,37,53,37,44,36,27,20,38,32,390
4,1,1,0,4,4,0,0,0,0,0,0,0,0,0,0,0,0,0

In [19]:
path = 'incidenciaMunicipal_2011_clean_cat.csv'
df_copy[list_numeric_columns][(df_copy.AÑO == 2011)].to_csv(path_or_buf=path, encoding='UTF-8', index=False)

In [20]:
path = 'incidenciaMunicipal_2012_clean_cat.csv'
df_copy[list_numeric_columns][(df_copy.AÑO == 2012)].to_csv(path_or_buf=path, encoding='UTF-8', index=False)

In [21]:
path = 'incidenciaMunicipal_2013_clean_cat.csv'
df_copy[list_numeric_columns][(df_copy.AÑO == 2013)].to_csv(path_or_buf=path, encoding='UTF-8', index=False)

In [22]:
path = 'incidenciaMunicipal_2014_clean_cat.csv'
df_copy[list_numeric_columns][(df_copy.AÑO == 2014)].to_csv(path_or_buf=path, encoding='UTF-8', index=False)

In [23]:
path = 'incidenciaMunicipal_2015_clean_cat.csv'
df_copy[list_numeric_columns][(df_copy.AÑO == 2015)].to_csv(path_or_buf=path, encoding='UTF-8', index=False)

In [24]:
path = 'incidenciaMunicipal_2016_clean_cat.csv'
df_copy[list_numeric_columns][(df_copy.AÑO == 2016)].to_csv(path_or_buf=path, encoding='UTF-8', index=False)

In [25]:
path = 'incidenciaMunicipal_2017_clean_cat.csv'
df_copy[list_numeric_columns][(df_copy.AÑO == 2017)].to_csv(path_or_buf=path, encoding='UTF-8', index=False)